
body {
    font-family: 'Inter', sans-serif;
    background: transparent;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    user-select: none;
}

#root {
    height: 100%;
    width: 100%;
}

/* 全局滚动条样式 */
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(156, 163, 175, 0.2);
    border-radius: 10px;
}

/* 局部滚动条样式 */
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(156, 163, 175, 0.2);
    border-radius: 10px;
}
